*{
    text-align: center;
    justify-content: center;
}
form{
    width: 50%;
    text-align: center; 
    margin-left: 20%;
    background-color: rgba(165, 42, 42, 0.507);
    padding: 5%;
}
h1{
    font-family: 'Arima', cursive;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Libre Baskerville', serif;
        font-family: 'Lobster', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Raleway', sans-serif;
}
.system{
    display: inline-flex;
    
}
.system p{
    margin: 8%;
    border: 2px outset rgb(18, 18, 17);
    padding: 8%;
    border-radius: 10px;
}
.system p:hover{
    background-color: brown;
}